.box {
  text-align: center;
}

.site-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 15px;
  margin-top: 25px;
}

.site-input-ball {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 15px;
  margin-top: 25px;
}

.box-link {
  width: 158px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: skyblue;
  transition: 0.5s ease;
} 

.box-link:hover {
  background-color: rgb(64, 186, 235);
}

.box-link:active {
  background-color: aqua;
}